Repository rakenduste-programmeerimine-2021/chatty, pull requests merged in 2021-12, with the labels that each got.

#48 Chat frontend functionality
  chatty/src/pages/Chat.js
  chatty/src/pages/Home.js
  chatty/src/pages/Login.js
Labels: frontend, backend

#49 CORS errori parandamine
  backend/package-lock.json
  backend/package.json
  backend/src/server.js
Labels: backend

#50 Responsiveness parandused, disaini täiendused
  chatty/src/components/LoginForm.css
  chatty/src/pages/Chat.js
  chatty/src/pages/Home.js
Labels: frontend

#51 Frontend ja backend testid töötavad ja valmis
  backend/.env
  backend/package-lock.json
  backend/package.json
  backend/src/server.js
  backend/test/auth.test.js
  backend/test/chat.test.js
  backend/test/search.test.js
  chatty/src/App.css
  chatty/src/App.test.js
  chatty/src/__tests__/Chat.test.js
  chatty/src/__tests__/Home.test.js
  chatty/src/__tests__/Login.test.js
  chatty/src/__tests__/LoginForm.test.js
  chatty/src/__tests__/Register.test.js
  chatty/src/components/LoginForm.js
  chatty/src/pages/Chat.js
  chatty/src/pages/Home.js
  chatty/src/pages/Login.js
  chatty/src/pages/Register.js
  chatty/src/styles/Chat.css
  chatty/src/styles/Home.css
  chatty/src/styles/Login.css
  chatty/src/styles/LoginForm.css
  chatty/src/styles/Register.css
Labels: frontend, backend
